<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- Appender, Layout 설정-->
    <Appenders> <Console name="console" target="SYSTEM_OUT">
        <PatternLayout charset="UTF-8" pattern=" %-5level %c(%M:%L) - %m%n"/>
    </Console>
    </Appenders>

    <!-- Logger 설정-->
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.kkobi" level="INFO" additivity="false" >
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <!-- 모든 실행 SQL을 매번 로깅해 고부하 시 CPU 오버헤드를 유발하므로 jdbc와 동일하게 WARN으로 낮춘다 -->
        <Logger name="jdbc.sqlonly" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>