<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kkobi.account.mapper.AccountMapper">

    <!-- 해당 사용자의 계좌가 이미 존재하는지 확인 -->
    <select id="existsAccountByUserId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM accounts
            WHERE user_id = #{userId}
        )
    </select>

    <!-- 초기 투자금을 반영하여 가상 계좌 생성 -->
    <insert id="saveAccount">
        INSERT INTO accounts (
            user_id,
            seed_money,
            cash_balance
        )
        VALUES (
                   #{userId},
                   #{seedMoney},
                   #{seedMoney}
               )
    </insert>

    <select id="getAccountAssetInfoByUserId"
            resultType="org.kkobi.account.dto.AccountAssetInfoDto">
        SELECT
            a.account_id AS accountId,
            a.seed_money AS seedMoney,
            a.cash_balance AS cashBalance,
            COALESCE(SUM(hs.quantity * hs.average_price), 0) AS stockAsset
        FROM accounts a
                 LEFT JOIN holding_securities hs
                           ON hs.account_id = a.account_id
        WHERE a.user_id = #{userId}
        GROUP BY
            a.account_id,
            a.seed_money,
            a.cash_balance
        LIMIT 1
    </select>

</mapper>
